*:focus {
  outline: 0; }

svg {
  max-width: 100%;
  height: auto; }

svg path {
  transition: all 0.25s ease-in-out; }

.flex-box,
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-box.flex-revers,
  .row.flex-revers {
    flex-direction: row-reverse; }
  .flex-box.halign-start,
  .row.halign-start {
    justify-content: flex-start; }
  .flex-box.halign-center,
  .row.halign-center {
    justify-content: center; }
  .flex-box.halign-end,
  .row.halign-end {
    justify-content: flex-end; }
  .flex-box.halign-beetwen,
  .row.halign-beetwen {
    justify-content: space-between; }
  .flex-box.halign-around,
  .row.halign-around {
    justify-content: space-around; }
  .flex-box.halign-evenly,
  .row.halign-evenly {
    justify-content: space-evenly; }
  .flex-box.valign-start,
  .row.valign-start {
    align-items: flex-start; }
  .flex-box.valign-center,
  .row.valign-center {
    align-items: center; }
  .flex-box.valign-end,
  .row.valign-end {
    align-items: flex-end; }
  .flex-box.valign-stretch,
  .row.valign-stretch {
    align-items: stretch; }
  .flex-box.valign-between,
  .row.valign-between {
    align-content: space-between; }
  .flex-box.wrap,
  .row.wrap {
    flex-wrap: wrap; }
  .flex-box.wrap-no,
  .row.wrap-no {
    flex-wrap: nowrap; }
  .flex-box.wrap-reverse,
  .row.wrap-reverse {
    flex-wrap: wrap-reverse; }
  .flex-box.flex-grow-1,
  .row.flex-grow-1 {
    flex-grow: 1; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

.text-left {
    text-align: left; }

.text-center {
    text-align: center; }

.text-right {
    text-align: left; }
	
@media (max-width: 479px) {
  .text-left-xxs {
    text-align: left; }

  .text-center-xxs {
    text-align: center; }

  .text-right-xxs {
    text-align: left; } }
@media (min-width: 783px) {
  .flex-display-sm {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .flex-display-sm.flex-revers {
      flex-direction: row-reverse; }

  .text-left-sm {
    text-align: left; }

  .text-center-sm {
    text-align: center; }

  .text-right-sm {
    text-align: right; }

  .m-sm-auto {
    margin: auto !important; }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; }

  .flex-box.flex-revers-sm,
  .row.flex-revers-sm {
    flex-direction: row-reverse; }
  .flex-box.halign-start-sm,
  .row.halign-start-sm {
    justify-content: flex-start; }
  .flex-box.halign-center-sm,
  .row.halign-center-sm {
    justify-content: center; }
  .flex-box.halign-end-sm,
  .row.halign-end-sm {
    justify-content: flex-end; }
  .flex-box.halign-beetwen-sm,
  .row.halign-beetwen-sm {
    justify-content: space-between; }
  .flex-box.halign-around-sm,
  .row.halign-around-sm {
    justify-content: space-around; }
  .flex-box.halign-evenly-sm,
  .row.halign-evenly-sm {
    justify-content: space-evenly; }
  .flex-box.valign-start-sm,
  .row.valign-start-sm {
    align-items: flex-start; }
  .flex-box.valign-center-sm,
  .row.valign-center-sm {
    align-items: center; }
  .flex-box.valign-end-sm,
  .row.valign-end-sm {
    align-items: flex-end; }
  .flex-box.valign-stretch-sm,
  .row.valign-stretch-sm {
    align-items: stretch; }
  .flex-box.valign-between-sm,
  .row.valign-between-sm {
    align-content: space-between; }
}
@media (min-width: 992px) {
  .flex-display-md {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .flex-display-md.flex-revers {
      flex-direction: row-reverse; }

  .text-left-md {
    text-align: left; }

  .text-center-md {
    text-align: center; }

  .text-right-md {
    text-align: right; }

  .m-md-auto {
    margin: auto !important; }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; }

  .flex-box.flex-revers-md,
  .row.flex-revers-md {
    flex-direction: row-reverse; }
  .flex-box.halign-start-md,
  .row.halign-start-md {
    justify-content: flex-start; }
  .flex-box.halign-center-md,
  .row.halign-center-md {
    justify-content: center; }
  .flex-box.halign-end-md,
  .row.halign-end-md {
    justify-content: flex-end; }
  .flex-box.halign-beetwen-md,
  .row.halign-beetwen-md {
    justify-content: space-between; }
  .flex-box.halign-around-md,
  .row.halign-around-md {
    justify-content: space-around; }
  .flex-box.halign-evenly-md,
  .row.halign-evenly-md {
    justify-content: space-evenly; }
  .flex-box.valign-start-md,
  .row.valign-start-md {
    align-items: flex-start; }
  .flex-box.valign-center-md,
  .row.valign-center-md {
    align-items: center; }
  .flex-box.valign-end-md,
  .row.valign-end-md {
    align-items: flex-end; }
  .flex-box.valign-stretch-md,
  .row.valign-stretch-md {
    align-items: stretch; }
  .flex-box.valign-between-md,
  .row.valign-between-md {
    align-content: space-between; } }
.row.row-xxs {
  margin-right: 0;
  margin-left: 0; }
  .row.row-xxs > .row {
    margin-right: 0;
    margin-left: 0; }
  .row.row-xxs > [class*="col-"], .row.row-xxs > .flex-box > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }
.row.row-xs {
  margin-right: -5px;
  margin-left: -5px; }
  .row.row-xs > .row {
    margin-right: -5px;
    margin-left: -5px; }
  .row.row-xs > [class*="col-"], .row.row-xs > .flex-box > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }
.row.row-sm {
  margin-right: -10px;
  margin-left: -10px; }
  .row.row-sm > .row {
    margin-right: -10px;
    margin-left: -10px; }
  .row.row-sm > [class*="col-"], .row.row-sm > .flex-box > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px; }

/* Basic ---------------------------------------------
 ----------------------------------------------------- */
::-webkit-input-placeholder {
  color: #666;
  opacity: 0.7; }

:-moz-placeholder {
  color: #666;
  opacity: 0.7; }

::-moz-placeholder {
  color: #666;
  opacity: 0.7; }

:-ms-input-placeholder {
  color: #666;
  opacity: 0.7; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

textarea {
  resize: vertical; }

input:focus,
textarea:focus {
  outline: none; }

.op-0 {
  opacity: 0; }

.op-10 {
  opacity: 0.1; }

.op-20 {
  opacity: 0.2; }

.op-30 {
  opacity: 0.3; }

.op-40 {
  opacity: 0.4; }

.op-50 {
  opacity: 0.5; }

.op-60 {
  opacity: 0.6; }

.op-70 {
  opacity: 0.7; }

.op-80 {
  opacity: 0.8; }

.op-90 {
  opacity: 0.9; }

.op-100 {
  opacity: 1; }

.push-0 {
  margin: 0 !important; }

.push-top-1 {
  margin-top: 10px; }

.push-left-1 {
  margin-left: 10px; }

.push-right-1 {
  margin-right: 10px; }

.push-top-2 {
  margin-top: 20px; }

.push-left-2 {
  margin-left: 20px; }

.push-right-2 {
  margin-right: 20px; }

.push-top-3 {
  margin-top: 30px; }

.push-left-3 {
  margin-left: 30px; }

.push-right-3 {
  margin-right: 30px; }

.push-top-4 {
  margin-top: 40px; }

.push-left-4 {
  margin-left: 40px; }

.push-right-4 {
  margin-right: 40px; }

.push-top-5 {
  margin-top: 50px; }

.push-left-5 {
  margin-left: 50px; }

.push-right-5 {
  margin-right: 50px; }

.push-top-6 {
  margin-top: 60px; }

.push-top-7 {
  margin-top: 70px; }

.push-top-8 {
  margin-top: 80px; }

.push-top-9 {
  margin-top: 90px; }

.push-top-10 {
  margin-top: 100px; }

.push-top-0 {
  margin-top: 0 !important; }

.push-bot-1 {
  margin-bottom: 10px; }

.push-bot-2 {
  margin-bottom: 20px; }

.push-bot-3 {
  margin-bottom: 30px; }

.push-bot-4 {
  margin-bottom: 40px; }

.push-bot-5 {
  margin-bottom: 50px; }

.push-bot-6 {
  margin-bottom: 60px; }

.push-bot-7 {
  margin-bottom: 70px; }

.push-bot-8 {
  margin-bottom: 80px; }

.push-bot-9 {
  margin-bottom: 90px; }

.push-bot-10 {
  margin-bottom: 100px; }

.push-bot-0 {
  margin-bottom: 0 !important; }

.pad-0 {
  padding: 0 !important; }

.pad-top-1 {
  padding-top: 10px; }

.pad-left-1 {
  padding-left: 10px; }

.pad-right-1 {
  padding-right: 10px; }

.pad-top-2 {
  padding-top: 20px; }

.pad-left-2 {
  padding-left: 20px; }

.pad-right-2 {
  padding-right: 20px; }

.pad-top-3 {
  padding-top: 30px; }

.pad-left-3 {
  padding-left: 30px; }

.pad-right-3 {
  padding-right: 30px; }

.pad-top-4 {
  padding-top: 40px; }

.pad-left-4 {
  padding-left: 40px; }

.pad-right-4 {
  padding-right: 40px; }

.pad-top-5 {
  padding-top: 50px; }

.pad-left-5 {
  padding-left: 50px; }

.pad-right-5 {
  padding-right: 50px; }

.pad-top-6 {
  padding-top: 60px; }

.pad-top-7 {
  padding-top: 70px; }

.pad-top-8 {
  padding-top: 80px; }

.pad-top-9 {
  padding-top: 90px; }

.pad-top-10 {
  padding-top: 100px; }

.pad-top-0 {
  padding-top: 0 !important; }

.pad-bot-1 {
  padding-bottom: 10px; }

.pad-bot-2 {
  padding-bottom: 20px; }

.pad-bot-3 {
  padding-bottom: 30px; }

.pad-bot-4 {
  padding-bottom: 40px; }

.pad-bot-5 {
  padding-bottom: 50px; }

.pad-bot-6 {
  padding-bottom: 60px; }

.pad-bot-7 {
  padding-bottom: 70px; }

.pad-bot-8 {
  padding-bottom: 80px; }

.pad-bot-9 {
  padding-bottom: 90px; }

.pad-bot-10 {
  padding-bottom: 100px; }

.pad-bot-0 {
  padding-bottom: 0 !important; }

.fw-100 {
  font-weight: 100; }

.fw-200 {
  font-weight: 200; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fw-900 {
  font-weight: 900; }

.fs-1 {
  font-size: 0.1em; }

.fs-2 {
  font-size: 0.2em; }

.fs-3 {
  font-size: 0.3em; }

.fs-4 {
  font-size: 0.4em; }

.fs-5 {
  font-size: 0.5em; }

.fs-6 {
  font-size: 0.6em; }

.fs-7 {
  font-size: 0.7em; }

.fs-8 {
  font-size: 0.8em; }

.fs-9 {
  font-size: 0.9em; }

.fs-10 {
  font-size: 1em; }

.fs-11 {
  font-size: 1.1em; }

.fs-12 {
  font-size: 1.2em; }

.fs-13 {
  font-size: 1.3em; }

.fs-14 {
  font-size: 1.4em; }

.fs-15 {
  font-size: 1.5em; }

.fs-16 {
  font-size: 1.6em; }

.fs-17 {
  font-size: 1.7em; }

.fs-18 {
  font-size: 1.8em; }

.fs-19 {
  font-size: 1.9em; }

.fs-20 {
  font-size: 2em; }

.lh-8 {
  line-height: 0.8em; }

.lh-9 {
  line-height: 0.9em; }

.lh-10 {
  line-height: 1em; }

.lh-11 {
  line-height: 1.1em; }

.lh-12 {
  line-height: 1.2em; }

.lh-13 {
  line-height: 1.3em; }

.lh-14 {
  line-height: 1.4em; }

.lh-15 {
  line-height: 1.5em; }

.lh-16 {
  line-height: 1.6em; }

.lh-17 {
  line-height: 1.7em; }

.lh-18 {
  line-height: 1.8em; }

.lh-19 {
  line-height: 1.9em; }

.lh-20 {
  line-height: 2em; }

.pull-center {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 783px) {

  .pull-left-sm {
    float: left; }

  .pull-center-sm {
    float: center; }

  .pull-right-sm {
    float: right; }
}
@media (min-width: 992px) {

  .pull-left-md {
    float: left; }

  .pull-center-md {
    float: center; }

  .pull-right-md {
    float: right; }

  .text-left-md {
    text-align: left; }

  .text-center-md {
    text-align: center; }

  .text-right-md {
    text-align: right; } }
@media (min-width: 1200px) {

  .pull-left-lg {
    float: left; }

  .pull-center-lg {
    float: center; }

  .pull-right-lg {
    float: right; }

  .text-left-lg {
    text-align: left; }

  .text-center-lg {
    text-align: center; }

  .text-right-lg {
    text-align: right; } }
@media (min-width: 1199px) {
  .row.row-md {
    margin-right: -20px;
    margin-left: -20px; }
    .row.row-md > .row {
      margin-right: -20px;
      margin-left: -20px; }
    .row.row-md > [class*="col-"], .row.row-md > .flex-box > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px; }
  .row.row-lg {
    margin-right: -25px;
    margin-left: -25px; }
    .row.row-lg > .row {
      margin-right: -25px;
      margin-left: -25px; }
    .row.row-lg > [class*="col-"], .row.row-lg > .flex-box > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .row.row-xl {
    margin-right: -30px;
    margin-left: -30px; }
    .row.row-xl > .row {
      margin-right: -30px;
      margin-left: -30px; }
    .row.row-xl > [class*="col-"], .row.row-xl > .flex-box > [class*="col-"] {
      padding-right: 30px;
      padding-left: 30px; }
  .row.row-xxl {
    margin-right: -50px;
    margin-left: -50px; }
    .row.row-xxl > .row {
      margin-right: -50px;
      margin-left: -50px; }
    .row.row-xxl > [class*="col-"], .row.row-xxl > .flex-box > [class*="col-"] {
      padding-right: 50px;
      padding-left: 50px; } }
@media (max-width: 782px) {
  .text-left-xs {
    text-align: left; }

  .text-center-xs {
    text-align: center; }

  .text-right-xs {
    text-align: right; }

  .d-block-xs {
    display: block !important; }

  .d-iblock-xs {
    display: inline-block !important; }

  .visible-xs-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .flex-box.flex-revers-xs,
  .row.flex-revers-xs {
    flex-direction: row-reverse; }
  .flex-box.halign-start-xs,
  .row.halign-start-xs {
    justify-content: flex-start; }
  .flex-box.halign-center-xs,
  .row.halign-center-xs {
    justify-content: center; }
  .flex-box.halign-end-xs,
  .row.halign-end-xs {
    justify-content: flex-end; }
  .flex-box.halign-beetwen-xs,
  .row.halign-beetwen-xs {
    justify-content: space-between; }
  .flex-box.halign-around-xs,
  .row.halign-around-xs {
    justify-content: space-around; }
  .flex-box.halign-evenly-xs,
  .row.halign-evenly-xs {
    justify-content: space-evenly; }
  .flex-box.valign-start-xs,
  .row.valign-start-xs {
    align-items: flex-start; }
  .flex-box.valign-center-xs,
  .row.valign-center-xs {
    align-items: center; }
  .flex-box.valign-end-xs,
  .row.valign-end-xs {
    align-items: flex-end; }
  .flex-box.valign-stretch-xs,
  .row.valign-stretch-xs {
    align-items: stretch; }
  .flex-box.valign-between-xs,
  .row.valign-between-xs {
    align-content: space-between; }


  .push-xs-0 {
    margin: 0 !important; }

  .push-top-xs-1 {
    margin-top: 10px; }

  .push-left-xs-1 {
    margin-left: 10px; }

  .push-right-xs-1 {
    margin-right: 10px; }

  .push-top-xs-2 {
    margin-top: 20px; }

  .push-left-xs-2 {
    margin-left: 20px; }

  .push-right-xs-2 {
    margin-right: 20px; }

  .push-top-xs-3 {
    margin-top: 30px; }

  .push-left-xs-3 {
    margin-left: 30px; }

  .push-right-xs-3 {
    margin-right: 30px; }

  .push-top-xs-4 {
    margin-top: 40px; }

  .push-left-xs-4 {
    margin-left: 40px; }

  .push-right-xs-4 {
    margin-right: 40px; }

  .push-top-xs-5 {
    margin-top: 50px; }

  .push-left-xs-5 {
    margin-left: 50px; }

  .push-right-xs-5 {
    margin-right: 50px; }

  .push-top-xs-6 {
    margin-top: 60px; }

  .push-top-xs-7 {
    margin-top: 70px; }

  .push-top-xs-8 {
    margin-top: 80px; }

  .push-top-xs-9 {
    margin-top: 90px; }

  .push-top-xs-10 {
    margin-top: 100px; }

  .push-top-xs-0 {
    margin-top: 0 !important; }

  .push-bot-xs-1 {
    margin-bottom: 10px; }

  .push-bot-xs-2 {
    margin-bottom: 20px; }

  .push-bot-xs-3 {
    margin-bottom: 30px; }

  .push-bot-xs-4 {
    margin-bottom: 40px; }

  .push-bot-xs-5 {
    margin-bottom: 50px; }

  .push-bot-xs-6 {
    margin-bottom: 60px; }

  .push-bot-xs-7 {
    margin-bottom: 70px; }

  .push-bot-xs-8 {
    margin-bottom: 80px; }

  .push-bot-xs-9 {
    margin-bottom: 90px; }

  .push-bot-xs-10 {
    margin-bottom: 100px; }

  .push-bot-xs-0 {
    margin-bottom: 0 !important; }


}
.d-block {
  display: block !important; }

.d-iblock {
  display: inline-block !important; }

.d-inline {
  display: inline !important; }
