
	{% if data and data.size > 0  %}

		<div class="js-render-wrapper lw-cols multiple-rows multiple-rows-tl multiple-rows-tp multiple-rows-sl multiple-rows-sp align-items-stretch main {{ alignmentClass }}">
		{% if showSlider == true %}
			{% assign cardsPerSlide =  cardsPerRow | times: rows %}
			{% assign numberOfSlides = amountOfCards | divided_by : cardsPerSlide | ceil | minus: 1 %}
				{% for i in (0..numberOfSlides) %}
					{% assign lowLimit = i | times: cardsPerSlide %}
					{% assign highLimit = lowLimit | plus: cardsPerSlide | minus: 1%}
					<div class="slide-wrapper">
						{% for count in (lowLimit..highLimit)%}
							{% assign item = data[count] %}

							{%if count >= amountOfCards %}
								{% break %}
							{% endif %}

							{% if item %}
								{% include cardType %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}

		{% elsif rows > 1 %}

			{% assign rows0 = rows | minus:1%}
			{% assign actualRows  = amountOfCards | divided_by: cardsPerRow | ceil | minus: 1%}

			{% if  rows0 > actualRows%}
				{% assign rows0 = actualRows %}
			{% endif %}

			{% for i in (0..rows0) %}

				{% assign lowLimit = i | times: cardsPerRow %}
				{% assign highLimit = lowLimit | plus: cardsPerRow | minus: 1%}
				{% assign range = highLimit | minus: lowLimit %}

				

					{% for n in (0..range) %}

						{% assign index = lowLimit | plus: n%}
						{% assign item = data[index] %}
						{% assign numberOfRenderedCards = index |plus: 1 %}

						{% if numberOfRenderedCards <= amountOfCards %}
							{% include cardType %}
						{% endif%}

					{% endfor %}

				

			{% endfor %}

		{% else %}

			{% assign lowLimit = 0 %}
			{% assign highLimit = lowLimit | plus: cardsPerRow | minus: 1%}

			{% for count in (lowLimit..highLimit) %}
				{% assign item = data[count] %}

				{% if count >= amountOfCards %}
					{% break %}
				{% endif %}
				{% include cardType %}
			{% endfor %}

		{% endif %}

		</div>
		
	{% else %}

		<div> Sorry , no results found</div>
	{% endif %}
